* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.container {
	width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}

.container:after {
	display: table;
	content: '';
	clear: both;
}

clearfix:after {
	display: table;
	content: '';
	clear: both;
}

.listReset {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}