.j-firstSlider {
	position: relative;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
}

.wrapper_logo {
	position: absolute;
	z-index: 5;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 330px;
	height: 100px;
}

.header {
	position: absolute;
	z-index: 2;
	top: 0px;
	width: 100%;
	padding: 34px 0px;
}

.lang {
	display: inline-block;
	margin-right: 50px;
}

.lang_item {
	display: inline-block;
}

.lang_item:after {
	margin-left: 4px;
	content: '|';
	color: #fff;
}

.lang_item:last-child:after {
	display: none;
}

.lang_item a {
	font-size: 16px;
	color: #fff;
	text-decoration: none;
}

.logo {
	display: inline-block;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	font-style: italic;
}

.work {
	display: inline-block;
	margin-right: 50px;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

.btn {
	display: inline-block;
	padding: 10px;
	border: 1px solid;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

.lang_item a:hover,
.logo:hover,
.work:hover {
	transition: .3s;
	color: dodgerblue;
}

.btn:hover {
	border-color: dodgerblue;
	background-color: dodgerblue;
}

.left {
	padding-top: 10px;
	float: left;
}

.right {
	float: right;
}
/*------------------- employees -----------------------*/
.employees_wrapper {
	position: relative;
	top: 0;
	bottom: 0;
	padding-top: 65px;
	padding-bottom: 55px;
	background-color: white;
}

.text {
	padding-right: 50px;
	float: left;
	width: 70%;
}

.text_title {
	font-weight: 700;
	font-size: 36px;
	margin-top: 0px;
	margin-bottom: 50px;
	text-transform: uppercase; 
}

.text_first {
	font-size: 30px;
	margin-top: 0px;
	margin-bottom: 50px;
	font-style: italic;
}

.text_second{
	font-size: 30px;
    font-weight: bold;
}

.employees {
	font-size: 0;
	float: right;
	width: 30%;
}

.employees__item {
	width: 50%;
	vertical-align: top;
	display: inline-block;
}

img {
	width: 100%;
	height: auto;
}
/*------------------- wrapper_content -----------------------*/

.content_baner {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;	
}

.content_baner_logo {
	position: absolute;
	width: 100%;
	height: 70px;
	top: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 48px;
}

.content_baner_btn {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 88px;
	width: 212px;
	text-align: center;
}

/*------------------- foter -----------------------*/
.footer {
	position: relative;
	padding: 15px 0;
	background-color: #000;
}

.footer_item {
	width: 25%;
	float: left;
	font-size: 12px;
}

.logo_color {
	display: inline-block;
	font-size: 12px;
	color: #afafaf;
	text-decoration: none;
	font-style: italic;
}

.footer_cop {
	text-align: right;
	color: #aeaeae;
}

.footer_cop a{
	color: #aeaeae;
}

.telNumb {
	color: #fff;
	padding-left: 15px;
	text-decoration: none;
}

.footer_item_email {
	text-align: right;
	padding-right: 15px;
}

.email {
	color: #fff;
}

.slick-next,
.slick-prev {
    position: absolute;
    top: 45%;
    display: block;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    width: 64px;
    height: 64px;
    opacity: 0.5;
    background: transparent;
    z-index: 1;
}

.slick-next.slick-arrow {
    background-image: url("../image/next.png");
    right: 25px;
}

.slick-prev.slick-arrow {
    background-image: url("../image/back.png");
    left: 25px;
}

.slick-prev:hover,
.slick-next:hover {
    opacity: 1;
}"
